<section class="about-section">
    <div class="container">
      <h2>About Me</h2>
      <div class="about-content">
        Meet Abdi Abader, a software engineer and student at ALX. He is passionate
about self-improvement and believes in the power of learning to help people in their lives.
Abdi’'s goals are to learn new languages, assist others, and complete his ALX program.
One of his proudest achievements is completing a 4-month software training on full-stack
development with Udacity. Abdi is excited about his journey of growth and looks forward
to making a positive impact in the tech industry and beyond. With his dedication to
learning and impressive achievements, Abdi has the potential to make a difference in the
world of software engineering.
      </div>
    
      <div class="our-team">
        <h3>My Skills</h3>
        <div class="team-members">
          <div class="team-member">
            <img src="https://ouch-cdn2.icons8.com/-bub-VdgGj-AgC_Y6vsHEL1jt7sz57x5JouwT8Y4O6c/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvOTUw/LzcyNDIzYmJiLWUz/ZjItNDFiOS1hYjhk/LWZmM2FiZTc2NGIy/ZS5zdmc.png" >
           
          </div>
         
          <div class="team-member">
            <img src="https://ouch-cdn2.icons8.com/NjO2EaVFBX-VZ-1rhL0pU3UilbdEGS-tiD1k_Yy2Kw4/rs:fit:256:292/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDk4/L2E2ZmNiYjAzLWE5/ZmQtNGRiYS04ZmEz/LTkzMjg2ZTVjYjA0/Zi5zdmc.png" >
            
          </div>
          <div class="team-member">
            <img src="https://ouch-cdn2.icons8.com/llLHKo43gAdT2ZjeLQl1u4V_Gt5c8h59In2dgFsJXg0/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNjY0/LzRiZTZiMzkyLTlk/NWUtNDA2Zi04ZTAx/LWRlODYzMjQ2YzBi/My5wbmc.png">
           
          </div>
        </div>
      </div>
    </div>
  </section>
  