<div class="certification-container">
    <h2 class="section-title">My Certifications</h2>
    <div class="cert-cards">
        <div class="cert-card">
            <img src="assets/alx.png" alt="Certification 1">
            
            <p>ALX SE Back End Certificate</p>
        </div>
        <div class="cert-card">
            <img src="assets/udacity-1.png" alt="Certification 2">
            
            <p>FullStack Javascript Nano Degree - Udacity</p>
        </div>
        <div class="cert-card">
            <img src="assets/ude.png" alt="Certification 2">
            
            <p>Angular-15 - Udemy</p>
        </div>
    </div>
</div>
