<div class="portfolio-container">
    <h2>My Portfolio</h2>
    <div class="container">
    <div class="work-card">
        <img src="https://ouch-cdn2.icons8.com/e8T-c9OIqLdYw6EnmjU4qg2320fqf9oPoPwib25iouo/rs:fit:256:240/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNTIw/L2QxM2YxYjk3LWMw/YzctNDJmNy1iYWZh/LTk1ZGM4MDA4ZDM5/My5wbmc.png" alt="Work 1">
        <h3>VibeTrade</h3>
        <p>This is an Ecommerce application built using the MEAN stack (MongoDB, Express, Angular, and Node.js)</p> 
    </div>
    <div class="work-card">
        <img src="https://ouch-cdn2.icons8.com/68p9wEAAwfi5PAV1m16nXnShhTzkO-LUFXUtGtTB8rs/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMzE4/LzY1MzcyYmNiLTZl/NDEtNGJiOS1hM2Y0/LWVkOGUxNzRkNzQy/OC5zdmc.png" alt="Work 2">
        <h3>Image Processing</h3>
        <p>Image Processing APi using Express, Nodejs and  Sharp.</p>
    </div>
    <div class="work-card">
        <img src="https://ouch-cdn2.icons8.com/VJLRARzk_nICNG0VYQnxYtS1GfyemvZOhq7A99xUwoc/rs:fit:256:154/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNTkv/YTdkZTJmYzctNGM0/Yy00OGE5LTg2NDUt/Zjc0NWIwZDdiZWYz/LnN2Zw.png" alt="Work 2">
        <h3>Store</h3>
        <p>StoreFront and StoreBackEnd Using Angular 15, Nodejs , Postgres and Express. </p>
    </div>
</div>
</div>
